{% extends 'base.html.twig' %}

{% block title %}WeSport | Mon Compte{% endblock %}

{% block body %}
<h1 class="jumbotron text-center">Mon Compte</h1>
<div class="container bloc-home">


    <p class="monCompte">Mon pseudo: {{ app.user.username }}</p>
    <p class="monCompte">Mon email: {{ app.user.email }}</p>
    <p class="monCompte">Mon sport favori: {{ app.user.userInfo.favoriteSport.sportName}} <a
            href="{{path('user_edit_profile', {id: app.user.id})}}">Modifier votre sport favori</a></p>
    <p class="monCompte">Mon code postal: {{ app.user.userInfo.zipCode}}</p>
    <p class="monCompte">Ma ville: {{app.user.userInfo.city}}</p>


</div>
{% endblock %}