{% extends "base.html.twig" %}

{% block title 'Mot de passe oublié' %}


{% block body %}
<h2 class="jumbotron text-center">Mot de Passe oublié</h2>

<div class="container mt-4 bloc-home">
    {{ form(emailForm)}}

</div>
{% endblock %}