{% extends "base.html.twig" %}

{% block title 'Se connecter' %}


{% block body %}
<h2 class="jumbotron text-center">Connexion</h2>

<div class="container mt-4 bloc-home">
    {% for message in app.flashes('message') %}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
    <div class="alert alert-warning" role="alert">
        {{message}}
    </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endfor %}

    {% if error %}
    <div class="alert alert-danger">
        {{error.messageKey | trans(error.messagedata, 'security')}}
    </div>
    {% endif %}

    <form action="{{path('login')}}" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="_username" placeholder="ex: valou@gmail.com" class="form-control"
                value="{{last_username}}">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="text" id="password" name="_password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary mb-4">Se connecter</button>
    </form>
    <p><a href=" {{path('app_forgotten_password')}} ">Mot de passe oublié?</a></p>
</div>
{% endblock %}