{% extends "base.html.twig" %}

{% block title 'Nouveau mot de passe' %}


{% block body %}
<h2 class="jumbotron text-center">Nouveau mot de passe</h2>

<div class="container mt-4 bloc-home">

    <form method="post" class="form-group">
        <label for="pass">Mot de passe</label>
        <input type="password" name="password" id="pass" class="form-control">
        <input type="hidden" name="token" value="{{ token}}">
        <button type="submit" class="btn-btn-secondary">Vallider</button>
    </form>

</div>
{% endblock %}