{% extends "base.html.twig" %}

{% block title %}
Rechercher un événement
{% endblock %}

{% block body %}

<h1 class="jumbotron text-center">Voir tous nos événements</h1>

<div class="container bloc-home">

    {{form_start(form)}}
    <div class="form-row">
        <div class="col">
            {{form_row(form.codePostal)}}
        </div>
        <div class="col">
            {{form_row(form.typeSport)}}
        </div>
        <div class="col">
            <button class="btn btn-primary">Rechercher</button>
        </div>
    </div>
    {{form_end(form)}}




    {% for eventSport in eventSports %}
    <div class="container bloc-home">
        <div class="metadata">Créé le {{eventSport.createdAt | date('Y/m/d')}} à {{eventSport.createdAt | date('H:i')}}
            dans
            la catégorie {{eventSport.sport.sportName}}
        </div>
        <p>Lieu {{eventSport.zipCode}}, {{eventSport.city}}</p>
        <div class="content">
            <img src="{{eventSport.image}}" alt="">
            <p>{{eventSport.descriptionEvent}}</p>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock %}