{% extends 'base.html.twig' %}

{% block title %}Voir les utilisateurs{% endblock %}

{% block body %}

<h1 class="jumbotron text-center">Gérer les utilisateurs</h1>

<div class="container mt-4 bloc-home">


    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endfor %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for userInfo in userInfos %}
            <tr>
                <td> {{userInfo.users.username}} </td>
                <td>{% for role in userInfo.users.roles %}
                    {{ role }}
                    {% endfor %}</td>
                <td>
                    <a href="{{ path('admin_user_edit', {id: userInfo.users.id})}}" class="btn btn-secondary">Editer</a>
                    <form method="post" action="{{ path('admin_user_delete', {id: userInfo.id})}}"
                        style="display:inline-block"
                        onsubmit="return confirm('Etes vous vraiment sur de vouloir supprimer cet utilisateur?')">
                        <input type="hidden" name="method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('deleteuser' ~ userInfo.id)}}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}