{% extends "base.html.twig" %}

{% block title %}
Admin | Editer l'événement
{% endblock %}

{% block body %}
<h1 class="jumbotron text-center">Editer l'événement</h1>
<div class="container bloc-home">

    {{ form_start(form)}}

    {{ form_row(form.title, {'attr': {'placeholder': "Titre de l'événement"}, 'label': "Titre"})}}
    {{ form_row(form.image, {'attr': {'placeholder': "Image"}, 'label': "Image"})}}
    {{ form_row(form.description_event, {'attr': {'placeholder': "Description"}, 'label': "Description"})}}
    {{ form_row(form.eventDate, {'label': "Date de l'événement"})}}

    {{ form_row(form.sport, {'attr': {'placeholder': "Sport en lien"}, 'label': "Sport"})}}
    {{ form_row(form.zipCode, {'attr': {'placeholder': "Code Postal"}, 'label': "Code Postal"})}}
    {{ form_row(form.city, {'attr': {'placeholder': "ex: Paris"}, 'label': "Ville de l'événement"})}}

    <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
    {{ form_end(form)}}
</div>

{% endblock %}