{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

<h1 class="jumbotron text-center">Administration</h1>

<div class="container bloc-home">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endfor %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for eventSp in eventSport %}
            <tr>
                <td> {{eventSp.title}} </td>
                <td>
                    <a href="{{ path('admin_edit_event_sport', {id: eventSp.id})}}" class="btn btn-secondary">Editer</a>
                    <form method="post" action="{{ path('admin_delete_event_sport', {id: eventSp.id})}}"
                        style="display:inline-block"
                        onsubmit="return confirm('Etes vous vraiment sur de vouloir supprimer cet événement?')">
                        <input type="hidden" name="method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ eventSp.id)}}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                    <a href="{{ path('admin_show_event_sport', {id: eventSp.id})}}" class="btn btn-primary">Afficher</a>
                </td>
            </tr>
            {% endfor %}

</div>

{% endblock %}