<h1>Activation de votre compte</h1>

<p>Vous avez créé un compte sur notre site, veuillez cliquer sur le lien ci-dessous pour l'activer</p>
<p><a href=" {{absolute_url(path('activation', {'token': token}))}} ">Activer mon compte</a></p>