<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}WeSport | Rencontrer du monde et faire du sport{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href=" {{asset('style.css')}}">
    {% block stylesheets %}{% endblock %}

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light menu-sticky">
        <a class="navbar-brand" href="{{path('home')}}">WeSport</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a href="" class="nav-link">Administration</a>
                </li>
                {% endif %}


                {% if app.user %}
                <li class="nav-item active">
                    <a class="nav-link" href=" {{path('event_sport_search')}} ">Liste des événements</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href=" {{path('event_sport_create')}} ">Créer un événement</a>
                </li>
                <li class="nav-item">
                    <a href=" {{path('logout')}} " class="nav-link">Déconnexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {{path('my_account')}} ">Mon compte</a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="">Liste des événements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {{path('register')}} ">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {{path('login')}} ">Connexion</a>
                </li>
                {% endif %}
        </div>
    </nav>



    <div class="container mb-4">

        {% if is_granted('ROLE_ADMIN') %}
        <div class="list-group mt-4 mb-4">
            <a href=" {{path('admin')}} " class="list-group-item list-group-item-action text-center">Gérer les
                événements</a>
            <a href="{{path('admin_show_users')}}  " class="list-group-item list-group-item-action text-center">Gérer
                les
                utilisateurs</a>
            <a href=" {{path('admin_home_edit', {id: 1})}} "
                class="list-group-item list-group-item-action text-center">Gérer
                la
                page d'accueil</a>
            <a href=" {{path('admin_show_sports')}} " class="list-group-item list-group-item-action text-center">Gérer
                la
                liste de sports</a>
        </div>
        {% endif %}


        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/c25c6480ed.js" crossorigin="anonymous"></script>
    {# <script src="{{ asset('script.js')}}"></script> #}
</body>

</html>